#wrapper, .mce-tinymce,.mce-stack-layout, .mce-edit-area{
    display: flex!important;
    flex-direction: column;
    flex: 1;
    align-items:stretch;
}

.mce-tinymce iframe{
    flex: 1;
}

header.project .col-md-7{
    position: relative;
    top: 0;
}

.circle-perm{
    border-radius: 100%;
    display: block;
    overflow: hidden;
}

.circle{
    border-radius: 100%;
    display: block;
    overflow: hidden;
}

.circle img{
    width:35%;
    height:35%;
    object-fit: cover;
}

.circle-bar{
    border-radius: 100%;
    display: block;
    overflow: hidden;
}

.circle-bar img{
    width:50%;
    height:50%;
    object-fit: cover;
}

.navigationBarStyle {
    color: rgba(204, 36, 36, 0.9);
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.vl {
    border-left: 6px solid #26285B;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.icon {
    opacity: 0.6;
}

.icon:hover {
    opacity: 1.0;
    color: black;
}


/* Split the screen in half */

.split {
    margin-top: 119px;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
}


/* Control the left side */

.left {
    left: 0;
    /*background-color: #111;*/
}


/* Control the right side */

.right {
    right: 0;
    /*background-color: red;*/
}

.split.right {
    margin-top: 119px;
}

@media (min-width: 1600px) {
    .split.right {
        margin-top: 119px;
    }
}


/* If you want the content centered horizontally and vertically */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Style the image inside the centered container, if needed */

.centered img {
    width: 150px;
    border-radius: 50%;
}

.menu-rverse {
    flex-direction: column;
    align-items: flex-start !important;
}

.pdf-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 10px 25px;
}

.pdf-btn:hover {
    color: #26285B;
    background-color: #fff;
}

.pdf-btn:hover svg {
    fill: #26285B;
}

.pdf-btn svg {
    width: 25px;
    height: 22px;
    fill: #fff;
}

.feature-icon {
    justify-content: center;
    margin: 0 auto;
}

.menu-item a {
    color: #fff;
}

#navbarSupportedContent a {
    font-size: 16px;
}

nav .navbar-brand {
    display: flex;
    align-items: center;
    width: fit-content;
}

nav .navbar-brand span {
    cursor: text;
}

nav .navbar-brand img {
    margin-right: 10px;
}

header {
    background: linear-gradient(#298297, #2E226D);
    z-index: 1;
    position: relative;
}

img.icons {
    max-width: 20px;
    margin-right: 10px;
}

.downloaddrop {
    position: relative;
}

.downloaddrop a {
    cursor: pointer;
}

.downloaddrop a::after {
    right: 10px;
    transform: rotate(-90deg);
    cursor: pointer;
}

.downloaddrop:hover ul.dropdown-menu {
    display: block;
}

.downloaddrop .dropdown-menu {
    right: -224px;
    top: 0;
}

header .right-column button {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

#navbarDropdown11 span.icons {
    width: 40px;
    height: 40px;
    margin: 0 0 0 10px;
}

#navbarDropdown11 {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

#navbarDropdown11::after {
    display: none;
}

header nav .main-nav {
    margin: -11px 0 -11px 50px;
}

header .feature-icon .mid {
    width: 262px;
}

header .feature-icon .left1,
header .feature-icon .right1 {
    width: 29%;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

header .feature-icon .left1 a,
header .feature-icon .right1 a {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    width: 29%;
}

header .feature-icon .left1 a svg,
header .feature-icon .right1 a svg {
    fill: #fff;
}

header .right-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hover-img {
    display: none;
}

header .right-column button img.icons {
    max-width: 23px;
}

header .right-column button:nth-of-type(1) {
    width: 197px;
    height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .right-column button:nth-of-type(2) {
    width: 117px;
    height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .right-column button:hover img.icons {
    display: none;
}

header .right-column button:hover .hover-img {
    display: inline-block !important;
}

header .desk-nav .navbar-brand {
    padding-left: 57px;
}

header .desk-nav .navbar-brand img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 9px;
    top: 11px;
    bottom: 0;
    margin: auto;
}

header nav.mob-nav {
    position: unset;
}

header nav.edit-nav .mid .icon {
    opacity: 1;
    cursor: pointer;
}

header nav.edit-nav .mid .icon img {
    opacity: 0.6;
}

header nav.edit-nav .mid .icon:hover img {
    opacity: 1;
}

#docHide {
    text-align: right;
}

.split {
    z-index: 0;
}

.split.left {
    padding-top: 0;
}

.split-nav {
    /* background: radial-gradient(#298297 -23%, #2E226D 89%); */
    color: #fff;
    display: none;
}

.split-nav .xml-nav,
.split-nav .html-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.split-nav .html-nav {
    display: none;
}

.split-nav a {
    text-decoration: underline !important;
}

.dropdown-menu a {
    padding-right: 15px;
}

@media (min-width: 1800px) {
    header .right-column button:nth-of-type(1) {
        width: 255px;
    }
    header .right-column button:nth-of-type(2) {
        width: 165px;
    }
}

@media (min-width: 768px) {
    .text-md-right {
        text-align: right;
    }
}

@media (max-width: 1450px) {
    header .right-column button {
        margin-right: 10px;
    }
    #navbarDropdown11 span.icons {
        width: 40px;
        height: 40px;
    }
    /*#navbarDropdown11 span.icons img {
        max-width: 25px;
    }*/
}

@media (max-width: 1195px) {
    header .feature-icon .left1 a,
    header .feature-icon .right1 a {
        width: 36%;
    }
}

@media (max-width: 1040px) {
    header .right-column button img {
        max-width: 15px;
    }
    header .feature-icon .mid {
        width: 27%;
    }
    .split.left {
        margin-top: 119px;
    }
}

@media (max-width: 991px) {
     ::-webkit-scrollbar {
        display: none;
    }
    header .feature-icon .mid {
        width: 35%;
    }
    header .right-column button:nth-of-type(1) {
        width: 160px;
    }
    header .right-column button img {
        max-width: 20px;
    }
    header .right-column button:nth-of-type(2) {
        display: none;
    }
    header .feature-icon .left1 h5,
    header .feature-icon .right1 h5 {
        font-size: 16px;
    }
    header .feature-icon .left1 a,
    header .feature-icon .right1 a {
        width: 41%;
    }
    header nav button.navbar-toggler {
        position: absolute;
        right: 30px;
        top: 11px;
        height: fit-content;
        z-index: 13;
    }
    header .navbar-nav .dropdown-menu {
        background: transparent;
        border-color: rgba(255, 255, 255, 0.3);
        color: #fff;
    }
    header .navbar-nav .dropdown-menu a {
        color: #fff !important;
    }
    header .right-column {
        padding-right: 80px;
    }
    header .col-md-7 {
        position: absolute;
        top: 9px;
        right: 0;
    }
    #navbarDropdown11 span.icons {
        width: 30px;
        height: 30px;
    }
   /*#navbarDropdown11 span.icons img {
        max-width: 18px;
    }*/
    #navbarSupportedContent {
        margin: 0;
    }
    .dropdown-item:focus,
    .dropdown-item:hover,
    .dropdown-item.active,
    .dropdown-item:active {
        background: #298297 !important;
        color: #fff;
    }
    /* #navbarSupportedContent a {
      color: #fff;
  } */
    .split-nav .xml-nav,
    .split-nav .html-nav {
        justify-content: flex-end;
        position: relative;
    }
    .split-nav h5 {
        /* font-size: 14px; */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;
        width: fit-content;
    }
    div.vl {
        display: none;
    }
    .split {
        width: 100% !important;
        margin-top: 119px;
        border-top: 1px solid #fff;
    }
    .split.left {
        /* display: none; */
        margin-top: 99px;
    }
    .split.right {
        margin-top: 100px;
    }
    .split-nav {
        width: 100%;
        padding: 10px 30px;
        display: block;
    }
    .split.desktop-split {
        display: none !important;
    }
    .tox.tox-tinymce.tox-platform-touch {
        height: 100% !important;
    }
}

@media (max-width: 860px) {
    header .right-column button:nth-of-type(1) {
        width: 170px;
    }
}

@media (max-width: 575px) {
    .split.right {
        margin-top: 95px;
    }
    .split.left {
        margin-top: 94px;
    }
}


/* ::-webkit-scrollbar {
    display: none;
} */


/* Drop Down page */

.modal-backdrop {
    z-index: 0;
}

.menu-bg {
    background: linear-gradient(to right, #2E226D, #298297, #2E226D);
    padding: 10px 0;
}

.menu-file-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 18px 5px 6px;
    font-size: 16px;
    font-weight: 700;
}

.menu-file-btn:hover {
    color: #fff;
}

body {
    background-image: url('../img/dropdowns/backgroud.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

.document-box {
    background: rgba(204, 204, 204, 0.3);
    border: 2px solid #2E226D;
    border-radius: 16px;
    padding: 31px 19px 27px;
    max-width: 100%;
}

.document-box h2 {
    font-size: 28px;
}

.document-box p {
    font-size: 24px;
    margin-top: 13px;
}

.document-box .proj-btn {
    margin: 76px 0 0 auto;
    max-width: 218px;
}

.document-box .proj-btn a.hover-btn {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    height: 48px;
    border: 1px solid transparent;
    font-weight: 400;
    border-radius: 20px;
    box-shadow: none !important;
}

.document-box .proj-btn a.hover-btn:hover,
.document-box .proj-btn a.hover-btn:focus,
.document-box .proj-btn a.hover-btn:active {
    background: transparent !important;
    border: 1px solid #2E226D !important;
}

.bg-red {
    background: #600202 !important;
    border: 1px solid #600202 !important;
}

.bg-red:hover,
.bg-red:active {
    color: #600202 !important;
    border: 1px solid #600202 !important;
    background: transparent !important;
}

button:focus,
a:focus,
input:focus {
    box-shadow: none !important;
}

.document-box .proj-btn button {
    width: auto;
    height: auto;
}

.document-box .proj-btn button img {
    width: auto;
    height: auto;
}

.text-blue {
    color: #2E226D;
}

.modal-btn {
    background: linear-gradient(180deg, #2E226D, #298297);
    border-radius: 27px;
    font-family: cairo;
    padding: 4px 28px;
    font-size: 22px;
    font-weight: 600;
}

.menu-dots {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.menu-dots:hover {
    background: transparent;
}

.menu-dots:active {
    background: transparent !important;
}

.cancel-btn {
    background: linear-gradient(180deg, #2E226D, #298297);
    border-radius: 18px;
    font-family: cairo;
    color: #fff;
    padding: 8px 28px;
    font-size: 18px;
    font-weight: 600;
    width: 149px;
    text-align: center;
    border: none;
    box-shadow: none !important;
    border: 1px solid #2E226D;
}

.cancel-btn:hover,
.hover-btn:hover {
    color: #2E226D !important;
    border: 1px solid #2E226D;
    background: transparent;
}

.hover-btn:active,
.cancel-btn:active {
    background: #fff !important;
    color: #2E226D !important;
    border-color: #2E226D;
}

.txt-red {
    color: #600202;
    font-family:cairo;
}

.txt-red-bold {
    color: #600202;
    font-family:cairo-bold;
}

.btn-canc {
    background: transparent;
    color: #2E226D;
}

.btn-canc:hover,
.btn-canc:focus,
.btn-canc:active {
    background: linear-gradient(180deg, #2E226D, #298297);
    color: #fff !important;
}

.modal-one-foter {
    border: none;
}

.main-modal {
    border-radius: 20px;
    border: 2px solid #EEEEEE;
}

.main-modal p {
    word-break: break-all;
}


/* .main-body {
    padding: 26px 30px 10px;
} */

.main-dialog {
    height: fit-content;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

section.projects-sec .dropdown-box-modal:nth-last-child(1) {
    margin-right: 0;
}

.dropdown-box-modal {
    width: 330px;
    margin-bottom: 30px;
    margin-right: 48px;
}

.butn-icon {
    background: transparent !important;
    border: none;
    width: 9px;
    height: 32px;
    box-shadow: none !important;
}

.butn-icon:hover {
    background: transparent !important;
}

.butn-icon:active {
    background: transparent !important;
    box-shadow: none !important;
    border: none;
}

.butn-icon img {
    width: 20px;
}

.third-main-dialog {
    max-width: 352px;
}

.main-form {
    justify-content: space-between;
    display: flex;
    align-items: center
}

.main-form input[type=email] {
    border: 1px solid #2E226D;
    border-radius: 14px;
}

.main-form input[type=text] {
    border: 1px solid #2E226D;
    border-radius: 14px;
}


/* .fourth-main-body {
    padding: 20px 18px;
} */

.modal .modal-body {
    padding: 2rem 2rem 1.5rem;
}

.modal .modal-footer {
    padding: 0 2rem 2rem;
}

@media (max-width: 1450px) {
    .dropdown-box-modal {
        width: 273px;
        margin-right: 10px;
    }
    .document-box {
        border-radius: 16px;
        padding: 31px 12px 27px 19px;
    }
    .document-box h2 {
        font-size: 23px;
    }
    .document-box p {
        font-size: 21px;
        margin-top: 13px;
    }
    .document-box .proj-btn {
        margin: 76px 0 0 auto;
        max-width: 178px;
    }
    .document-box .proj-btn a.hover-btn {
        padding: 0px 36px;
        height: 38px;
        border-radius: 15px;
    }
    .document-box .proj-btn button img {
        width: 7px;
    }
}


/*-------------------- Profile Page ------------------------ */

@media (min-width: 1201px) {
    section.profile .col-xl-6 {
        width: 48.5%;
    }
}

section.profile .dropdown-bg {
    min-height: 98vh;
}

@media (min-width: 992px) {
    section.profile .col-lg-6 {
        width: 49%;
    }
}

.logout-form-bg {
    background: rgba(204, 204, 204, 0.3);
    border: 1px solid #2E226D;
    border-radius: 20px;
    padding: 47px 35px 56px 38px;
}

.logout-filds {
    border-radius: 20px;
    padding: 0 15px;
    height: 60px;
    border: 1px solid #2E226D;
}

.form-row {
    padding: 6px 22px;
}

.form-row img {
    /* width: 129px; */
    margin: 0 33px;
}

.logout-form-bg .form-row {
    margin-bottom: 32px;
}

.logout-form-bg .form-row:nth-last-child(1) {
    margin-bottom: 0;
}

.logout-form-bg label {
    font-size: 23px;
}

.logout-form-bg span.profile-bg {
    width: 250px;
    height: 250px;
    margin: -15px auto 0;
    border: 1px solid #2E226D;
}

.logout-form-bg span.profile-bg img {
    margin: 0;
    /*max-width: 114px;*/
}

.text-purple {
    color: #2E226D;
    font-size: 18px;
    font-weight: 600;
}

.text-red {
    color: #600202;
    font-size: 18px;
    font-weight: 600;
}

.save-btn {
    background: linear-gradient(180deg, #2E226D, #298297);
    border-radius: 20px;
    font-family: cairo;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding: 13px 78px;
    margin-top: 7px;
    text-align: center;
    border: none;
    box-shadow: none !important;
    border: 1px solid transparent;
}

.save-btn:hover {
    color: #fff;
}

.Upload-file-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 2px 18px 2px 3px;
    font-size: 16px;
    font-weight: 700;
    background: transparent !important;
    display: flex;
    align-items: center;
}

.Upload-file-btn:hover,
.Upload-file-btn:focus,
.Upload-file-btn:active {
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    box-shadow: none !important;
}

.Upload-file-btn img {
    width: 31px;
    height: 30px;
    margin-right: 10px;
}


/* @media (max-width: 991px) {
    .Upload-file-btn {
        padding: 2px 10px;
    }
} */


/* @media (max-width: 576px) {
    header.project nav.btn-nav {
        position: absolute;
        top: 0;
        right: 0;
    }
} */

.Upload-file-btn span {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.list-btn {
    background: transparent;
    color: black;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
}

.list-btn:hover {
    background: #e9ecef;
}


/* pop up */

.butn-icon span {
    color: black;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 18px 5px 6px;
    font-size: 16px;
    background: transparent !important;
}

.butn-icon-2 {
    border: 1px solid #2E226D;
    border-radius: 22px;
}

.butn-icon-2 span {
    color: black;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 18px 5px 6px;
    font-size: 16px;
    background: transparent !important;
}

.butn-icon img {
    width: 25px;
    height: 31px;
}

.butn-icon-2 img {
    width: 10px;
    height: 11px;
}

.butn-icon-pop {
    width: 150px;
    border: 1px solid #2E226D;
    border-radius: 14px;
    position: relative;
}

.butn-icon-pop img {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    height: fit-content;
    margin: auto;
}

select.butn-icon-pop {
    padding-left: 14%;
}

#docDetail p:nth-of-type(1) {
    width: 25%;
}


/* #adminModal p:nth-of-type(1) {
    width: 40%;
    word-break: break-word;
} */

.permit-modal .user-info {
    width: 65%;
    word-break: break-all;
}

.permit-modal .user-info span {
    max-width: 45px;
    margin-right: 10px;
}

.permit-modal .user-info .username p {
    line-height: 30px;
}

#newProject .dropdown,
#docDetail p:nth-of-type(2) {
    width: 70%;
}

#docDetail p:nth-of-type(2) {
    text-align: right;
}

@media (min-width: 576px) {
    #userPermit .modal-dialog {
        max-width: 420px;
    }
}

section.projects-sec ul.dropdown-menu {
    border-radius: 15px;
}

section.projects-sec li.downloaddrop ul.dropdown-menu {
    position: relative;
    right: unset;
    border-radius: 0;
    border: 0;
}

ul.dropdown-menu li a {
    padding-right: 30px;
}

ul.dropdown-menu li a:active,
ul.dropdown-menu li a:focus,
ul.dropdown-menu li a.active {
    background: #298297;
}

header.project .right-column {
    padding-top: 0;
}

#newProject .template p {
    width: 30%;
}

.main-droppage-row {
    justify-content: center;
}

@media (max-width: 1950px) {
    header.project #navbarDropdown11 {
        font-size: 1.25rem;
    }
}

@media (max-width: 1450px) {
    header.project #navbarDropdown11 span.icons {
        width: 40px;
        height: 40px;
    }
    header.project #navbarDropdown11 img.icons {
        max-width: 25px;
    }
    .logout-form-bg {
        padding: 31px 0 31px 14px;
        border-radius: 15px;
    }
    .logout-form-bg label {
        font-size: 18px;
    }
    .logout-filds {
        height: 48px;
        border-radius: 15px;
    }
    .logout-form-bg .form-row {
        margin-bottom: 13px;
    }
    .logout-form-bg .form-row:nth-last-child(1) {
        margin-top: 17px;
    }
    .save-btn {
        padding: 7px 50px;
        border-radius: 16px;
    }
    .logout-form-bg span.profile-bg {
        width: 180px;
        height: 180px;
        margin: -6px auto 0;
    }
   /* .logout-form-bg span.profile-bg img {
        max-width: 95px;
    }*/
}

@media (max-width: 1200px) {
    section.profile .dropdown-bg {
        padding-top: 32px !important;
    }
    .logout-form-bg {
        padding-top: 24px;
    }
    .logout-filds {
        height: 39px;
    }
    .logout-form-bg label {
        font-size: 16px;
    }
    .logout-form-bg span.profile-bg {
        width: 150px;
        height: 150px;
        margin: 0px auto 0;
    }
    .logout-form-bg .pass-confirm {
        margin-top: 0 !important;
    }
    .logout-form-bg .pass-confirm .col-md-7 {
        margin-top: 20px !important;
    }
    .save-btn {
        font-size: 18px;
        padding: 7px 45px;
        border-radius: 14px;
    }
}

@media (max-width: 991px) {
    header.project nav button.navbar-toggler {
        right: 0;
    }
  /*  .logout-form-bg span.profile-bg img {
        max-width: 60px;
    }*/
    .logout-form-bg span.profile-bg {
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width:960px) {
    .modal-btn {
        padding: 4px 19px;
        font-size: 18px;
    }
}

@media (max-width: 849px) {
    header.project .col-md-3,
    header.project .col-lg-3 {
        display: none !important;
    }
    header.project .col-lg-6 {
        width: 100% !important;
    }
    nav.project-desk-nav {
        display: none;
    }
    nav.project-mob-nav {
        display: block !important;
    }
}

@media (max-width:796px) and (min-width: 768px) {
    header.project .col-lg-3 {
        display: none !important;
    }
    header.project .col-md-7 {
        width: 74%;
    }
    header.project .col-md-7 nav ul {
        justify-content: flex-end !important;
    }
}

@media screen and (max-width:767px) {
    .dropdown-bg {
        min-height: auto;
    }
    .logout-form-bg {
        padding: 47px 28px;
    }
    section.profile .dropdown-bg {
        padding-bottom: 50px;
    }
}

@media screen and (max-width:600px) {
    .macbok-logo span {
        color: #fff;
        /* font-size: 20px; */
    }
    .menu-file-btn {
        margin-bottom: 8px;
    }
    .save-btn {
        margin-bottom: 15px;
    }
    .logout-form-bg span.profile-bg {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    nav {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    nav .navbar-brand {
        font-size: 16px;
    }
    nav .navbar-brand img {
        width: 25px;
        height: 25px;
    }
    header.profile-head nav .macbok-logo span {
        margin-right: 0 !important;
    }
    section.profile .dropdown-bg {
        padding-top: 31px !important;
    }
    .logout-form-bg label {
        font-size: 12px;
    }
    .logout-form-bg {
        padding: 6px 10px 19px;
    }
    .logout-form-bg .form-row {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .logout-form-bg label {
        font-size: 12px;
    }
    .logout-filds {
        height: 23px;
    }
    .logout-form-bg span.profile-bg {
        width: 60px;
        height: 60px;
        margin: -5px 0 0;
    }
    /*.logout-form-bg span.profile-bg img {
        max-width: 27px;
    }*/
    .logout-form-bg .form-row:nth-last-child(1),
    .logout-form-bg .form-row:nth-last-child(1) .col-md-7 {
        margin-top: 0 !important;
    }
    section.profile .save-btn {
        padding: 7px 43px;
        margin-top: 10px;
        font-size: 10px;
    }
    nav button.navbar-toggler {
        right: 10px !important;
        border: 0;
        top: 10px;
        padding: 0;
    }
    .split-nav {
        padding: 10px;
    }
    .dropdown-box-modal {
        width: 321px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .document-box {
        border-radius: 20px;
        padding: 17px 12px 14px 16px;
        margin-bottom: 0;
    }
    .document-box p {
        font-size: 24px;
        margin-top: 6px;
    }
    .document-box .proj-btn {
        margin: 29px 0 0 auto;
        max-width: 192px;
    }
    .document-box .proj-btn a.hover-btn {
        padding: 0px 39px;
        height: 30px;
        border-radius: 20px;
        font-size: 15px;
    }
    .document-box .proj-btn button img {
        width: 6px;
    }
}

@media (max-width: 350px) {
    .dropdown-box-modal {
        width: 100%;
    }
}